In [1]:
# Import system packages

import os
import operator
import re

# Import lusid specific packages
# These are the core lusid packages for interacting with the API via Python
import lusid
import lusid.models as models
from lusid.utilities import ApiClientFactory
from lusidtools.cocoon.utilities import create_scope_id
from lusidjam.refreshing_token import RefreshingToken
from lusidtools.pandas_utils.lusid_pandas import lusid_response_to_data_frame
from lusidtools.cocoon.cocoon import load_from_data_frame
from lusidtools.cocoon.cocoon_printer import format_instruments_response, format_portfolios_response, format_transactions_response
import pandas as pd
import json
import openpyxl
import pytz
from datetime import datetime
from lusidtools.cocoon.seed_sample_data import seed_data

pd.set_option('display.max_columns', None)

# Authenticate our user and create our API client
secrets_path = os.getenv("FBN_SECRETS_PATH")

# Initiate an API Factory which is the client side object for interacting with LUSID APIs
api_factory = lusid.utilities.ApiClientFactory(
    token=RefreshingToken(),
    api_secrets_filename = secrets_path,
    app_name="LusidJupyterNotebook")

In [2]:
with open("seed_data.json", "r") as seed_data_config:
    mapping_file = json.loads(seed_data_config.read())

In [3]:
# Create a new scope

scope = "bi-temporal-example"
portfolio_code = "EQUITY_FUND"

In [4]:
# Load a file of equity transactions

transactions_file = r"equity_txn.csv"
transactions_df = pd.read_csv(transactions_file)
transactions_df["portfolio_code"] = portfolio_code
transactions_df

,portfolio_code,portfolio_name,portfolio_base_currency,instrument_type,instrument_id,name,txn_id,txn_type,txn_trade_date,txn_settle_date,txn_units,txn_price,txn_consideration,currency,cash_transactions
0,EQUITY_FUND,LUSID's top 10 FTSE stock portfolio,GBP,equity,EQ_1234,Aviva,trd_0001,Buy,01/04/2020,03/04/2020,10000,1,10000,GBP,NaN
1,EQUITY_FUND,LUSID's top 10 FTSE stock portfolio,GBP,equity,EQ_1236,Barclays,trd_0002,Buy,01/04/2020,03/04/2020,10000,1,10000,GBP,NaN
2,EQUITY_FUND,LUSID's top 10 FTSE stock portfolio,GBP,equity,EQ_1237,BP,trd_0003,Buy,01/04/2020,03/04/2020,20000,1,20000,GBP,NaN
3,EQUITY_FUND,LUSID's top 10 FTSE stock portfolio,GBP,equity,EQ_1237,BP,trd_0004,Buy,01/04/2020,03/04/2020,10000,1,10000,GBP,NaN
4,EQUITY_FUND,LUSID's top 10 FTSE stock portfolio,GBP,cash,GBP,GBP Cash,cash_001,FundsIn,01/04/2020,03/04/2020,100000,1,100000,GBP,GBP

In [5]:
# Load portfolios, instruments, and transactions

seed_data_result = seed_data(
    api_factory,
    ["portfolios", "instruments", "transactions"],
    scope,
    transactions_file,
    "csv",
    mappings = mapping_file
)

In [6]:
print(scope)

bi-temporal-example