In [1]:
from lusidtools.jupyter_tools import toggle_code

"""Creating Legal Entities and Instrument Relationships

This notebook demonstrates how you can create legal entities with multiple identifiers from different sources and utilise legal entity-instruments relationships to filter a universe of instruments based on the properties attached to the legal entities.

Attributes
----------
legal entities
relationships
"""

toggle_code("Toggle Docstring")

# Creating Legal Entities and Instrument Relationships
This notebook demonstrates that with LUSID, you can collate information from various sources onto one legal entity and use that collection of data to inform your decisions for creating an investable universe of instruments. We will:

 - Add multiple identifiers from different sources to one legal entity (LE) by merging multiple legal entity data sources.
 - Enrich legal entities with 2 different sources of Diversity, Equity and Inclusion data
 - Link instruments to their legal entities using legal entity-instrument relationships
 - Use instrument identifers to query properties on legal entities via the LE-instrument relationships created
 - Create a universe of instruments filtered by the DEI data stored as properties on the instruments' legal entities

In [2]:
import os
import pandas as pd
import datetime
import json
import pytz
from datetime import datetime
from IPython.core.display import HTML

# Then import the key modules from the LUSID package (i.e. The LUSID SDK)
import lusid as lu
import lusid.api as la
import lusid.models as lm
import logging
logging.basicConfig(level=logging.INFO)

from lusidtools import cocoon as lpt

# And use absolute imports to import key functions from Lusid-Python-Tools and other helper package

from lusid.utilities import ApiClientFactory
from lusidjam import RefreshingToken
from lusidtools.cocoon.cocoon import load_from_data_frame
from lusidtools.pandas_utils.lusid_pandas import lusid_response_to_data_frame
from lusidtools.jupyter_tools import StopExecution
from lusidtools.cocoon.cocoon_printer import (
    format_instruments_response,
    format_portfolios_response,
    format_transactions_response,
    format_quotes_response,
)

# Set DataFrame display formats
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
display(HTML("<style>.container { width:90% !important; }</style>"))

# Authenticate our user and create our API client
secrets_path=os.getenv("FBN_SECRETS_PATH")

if secrets_path is None:
    secrets_path=os.path.join(os.path.dirname(os.getcwd()), "secrets.json")

api_factory=ApiClientFactory(
    token=RefreshingToken(),
    api_secrets_filename=secrets_path,
    app_name="LusidJupyterNotebook",
)

api_status=pd.DataFrame(
    api_factory.build(lu.ApplicationMetadataApi).get_lusid_versions().to_dict()
)

display(api_status)

,api_version,build_version,excel_version,links
0,v0,0.6.10993.0,0.5.3203,"{'relation': 'RequestLogs', 'href': 'http://fb..."

In [3]:
relationship_definitions_api = api_factory.build(lu.RelationshipDefinitionsApi)
relationships_api = api_factory.build(lu.RelationshipsApi)
property_definitions_api = api_factory.build(lu.PropertyDefinitionsApi)
legal_entities_api = api_factory.build(lu.LegalEntitiesApi)
instruments_api = api_factory.build(lu.InstrumentsApi)
search_api = api_factory.build(lu.SearchApi)

In [4]:
id_scope = "legalEntityRelationships" # acts as main scope for legal entities
dei_scopeA = "deiDataSourceA"
dei_scopeB = "deiDataSourceB"

### Load a DataFrame of Legal Entity Identifiers (LEIs) for UK equities.

In [5]:
df_legal_entities=pd.read_csv("data/legal_entities.csv")
df_legal_entities.head()

                   entityName                   LEI
0             BAE Systems PLC  8SVCSVKSGDWMW2QHOH83
1  Phoenix Group Holdings PLC  2138001P49OLAEU33T68
2                     WPP PLC  549300LSGBXPYHXGDT93
3  United Utilities Group PLC  2138002IEYQAOC88ZJ59
4          Smith & Nephew PLC  213800ZTMDN8S67S1H61

A legal entity is represented as a collection of properties. Identifier properties are defined separately and used to find the legal entity while other properties are used to attach more information to the legal entity.

## Create identifier property
First we must create the identifier property for the Legal Entity. Set domain to "LegalEntity" and constraint style to "Identifier" so lusid knows it is an identifier property for a legal entity.

In [6]:
# create identifier property definition

def create_property_identifier(code, display_name):
    try:
        property_definitions_api.create_property_definition(
            create_property_definition_request=lm.CreatePropertyDefinitionRequest(
                domain="LegalEntity",
                scope=id_scope,
                code=code,
                value_required=None,
                display_name=display_name,
                data_type_id=lm.ResourceId(scope="system", code="string"),
                life_time="Perpetual",
                constraint_style="Identifier"
            )
        )
    except:
        print("Property already exists")

This identifier property will be the standard Legal Entity Identifer (LEI) from the DataFrame we loaded.

In [7]:
create_property_identifier("LEI", "Legal Entity Identifier")

Property already exists

## Create Legal Entities

In [8]:
def create_legal_entity(identifier_property, LEI, LE_name):

    legal_entity_request=lm.UpsertLegalEntityRequest(
        identifiers={f"LegalEntity/{id_scope}/{identifier_property}":lm.PerpetualProperty(
                        key=f"LegalEntity/{id_scope}/{identifier_property}",
                        value=lm.PropertyValue(label_value=LEI)
                        ),
                    },

        display_name=LE_name,
        description=LE_name,
        counterparty_risk_information=None,
        )

    legal_entities_api.upsert_legal_entity(legal_entity_request)

In [9]:
legal_entities = []

for i in enumerate(df_legal_entities["LEI"]):
    identifier_property="LEI"
    LEI=df_legal_entities["LEI"][i[0]]
    LE_name=df_legal_entities["entityName"][i[0]]
    
    create_legal_entity(identifier_property, LEI, LE_name)
    legal_entities.append(LEI)
    
print(len(legal_entities), "legal entities created")

102 legal entities created

#### Add non-standard identidiers from another source

The next step is to add another identifier to the legal entities we just created as some data sources may have custom symbols in addition to the standard LEI. Here, we are adding a unique ID Number from another data source. This is also one of the datasets we will use to add diversity data to our properties later on in this notebook.

In [10]:
# Load a DataFrame of Diversity, Equity and Inclusion (DEI) data
df_dei_sourceA=pd.read_csv("data/dei_data_sourceA.csv")
df_dei_sourceA

,Name,Custom Legal Entity Identifier,Legal Entity Identifier,Total DEI Score,Total Gender Score
0,IMPERIAL BRANDS PLC,944941,549300DFVPOB67JL3A42,40.62,35.49
1,PHOENIX GROUP HOLDINGS PLC,1567007,2138001P49OLAEU33T68,33.20,25.58
2,ADMIRAL GROUP PLC,312839,213800FGVM7Z9EJB2685,43.23,69.07
3,ANGLO AMERICAN PLC,1190816,549300S9XF92D1X8ME43,42.74,46.55
4,ANTOFAGASTA PLC,1221352,213800MY6QVH4FVLD628,31.46,19.47
5,ASHTEAD GROUP PUBLIC LIMITED COMPANY,1108503,2138007UTBN8X9K1A235,31.94,29.29
6,ASSOCIATED BRITISH FOODS PLC,1548069,GBQKSY6W7G0OHCQ8OQ72,30.31,35.84
7,ASTRAZENECA PLC,1329415,PY6ZZQWO2IZFZC3IOL08,49.11,61.07
8,AUTO TRADER GROUP PLC,42145,213800QLK9BZILB1DI86,43.83,60.06
9,AVEVA GROUP PLC,520672,213800XHATUM2LFMKG16,40.11,50.35
10,AVIVA PLC,1097168,YF0Y5B0IB8SM0ZFG9G81,41.63,57.81
11,BAE SYSTEMS PLC,132942,8SVCSVKSGDWMW2QHOH83,39.03,34.33
12,BARCLAYS PLC,970628,213800LBQA1Y9L22JB70,42.01,49.82
13,BARRATT DEVELOPMENTS P L C,1333501,2138006R85VEOF5YNK29,37.44,41.08
14,BHP GROUP PLC,1685776,549300C116EOWV835768,41.53,50.05
15,BP PLC,1015609,213800LH1BZH3DI6G760,46.96,58.75
16,BRITISH AMERICAN TOBACCO P.L.C.,290003,213800FKA5MF17RJKT63,39.07,34.01
17,BRITISH LAND COMPANY PUBLIC LIMITED COMPANY(THE),1354746,RV5B68J2GV3QGMRPW209,37.63,49.12
18,BT GROUP PLC,280994,213800LRO7NS5CYQMN21,38.41,39.80
19,BUNZL PUBLIC LIMITED COMPANY,1219275,213800Q1Q9DV4L78UM09,43.06,44.82
20,BURBERRY GROUP PLC,1234613,213800PE1KEFCNFR1R50,47.60,55.41
21,Coca-Cola HBC AG,1375711,549300EFP3TNG7JGVE49,34.57,34.13
22,COMPASS GROUP PLC,1321106,2138008M6MH9OZ6U2T68,41.24,50.70
23,CRH PUBLIC LIMITED COMPANY,882277,549300MIDJNNTH068E74,32.64,28.71
24,CRODA INTERNATIONAL PUBLIC LIMITED COMPANY,1108731,2138004WCNBFJEEOXV26,38.66,27.56
25,DCC PUBLIC LIMITED COMPANY,986682,213800UPS1QEE4TD3T45,31.50,35.22
26,DIAGEO PLC,1434115,213800ZVIELEA55JMJ32,39.77,50.90
27,DS SMITH PLC,90757,39RSBE4RCI4M15BLWH36,24.18,19.38
28,ENTAIN PLC,1741440,213800GNI3K45LQR8L28,38.27,58.27
29,EVRAZ PLC,198233,5493005B7DAN39RXLK23,35.16,24.79
30,Flutter Entertainment Public Limited Company,1426828,635400EG4YIJLJMZJ782,33.04,16.88
31,GLAXOSMITHKLINE PLC,1031242,5493000HZTVUYLO1D793,44.15,56.71
32,HALMA PUBLIC LIMITED COMPANY,628845,2138007FRGLUR9KGBT40,48.77,62.36
33,HARGREAVES LANSDOWN PLC,451189,2138008ZCE93ZDSESG90,26.40,27.12
34,HIKMA PHARMACEUTICALS PUBLIC LIMITED COMPANY,666744,549300BNS685UXH4JI75,37.28,23.39
35,HSBC HOLDINGS PLC,1095091,MLU0ZO3ML4LN2LL2TL39,29.06,44.48
36,INFORMA PLC,836136,5493006VM2LKUPSEDU20,41.99,47.23
37,INTERCONTINENTAL HOTELS GROUP PLC,868169,2138007ZFQYRUSLU3J98,41.70,37.76
38,INTERMEDIATE CAPITAL GROUP PLC,1378434,549300OGASR5WRKJ8R68,33.64,29.18
39,INTERTEK GROUP PLC,1558965,2138003GAT25WW1RN369,29.41,22.27
40,J SAINSBURY PLC,515416,213800VGZAAJIKJ9Y484,37.08,44.67
41,JOHNSON MATTHEY PLC,1557939,2138001AVBSD1HSC6Z10,37.45,56.66
42,KINGFISHER PLC,542900,213800KBMEV7I92FY281,30.99,39.67
43,LAND SECURITIES GROUP PLC,116391,213800V8IAVKS37D6B88,45.16,34.55
44,LEGAL & GENERAL GROUP PLC,1019637,213800JH9QQWHLO99821,38.83,32.08
45,LLOYDS BANKING GROUP PLC,1415850,549300PPXHEU2JF0AM85,35.65,38.91
46,LONDON STOCK EXCHANGE GROUP PLC,286760,213800QAUUUP6I445N30,42.95,57.07
47,M&G PLC,399504,254900TWUJUQ44TQJY84,44.09,37.39
48,MELROSE INDUSTRIES PLC,1261789,213800RGNXXZY2M7TR85,34.97,19.06
49,MONDI PLC,269988,213800LOZA69QFDC9N34,41.42,50.69
50,NATIONAL GRID PLC,113966,8R95QZMKZLJX5Q2XR704,42.23,41.16
51,NATWEST GROUP PLC,417406,2138005O9XJIJN4JPN90,40.35,37.57
52,NEXT PLC,1196655,213800WQD8ECPZP9PH98,41.03,48.81
53,OCADO GROUP PLC,269223,213800LO8F61YB8MBC74,31.46,9.59
54,PEARSON PLC,1089313,2138004JBXWWJKIURC57,50.13,69.20
55,PERSIMMON PUBLIC LIMITED COMPANY,515119,213800XI72Y57UWN6F31,25.03,23.85
56,Prudential Public Limited Company,1485865,5493001Z3ZE83NGK8Y12,28.38,32.77
57,RECKITT BENCKISER GROUP PLC,367937,5493003JFSMOJG48V108,34.52,37.22
58,RELX PLC,1629028,549300WSX3VBUFFJOO66,37.34,51.31
59,RENTOKIL INITIAL PLC,454000,549300VN4WV7Z6T14K68,33.14,29.37
60,Rio Tinto Group,519217,213800YOEO5OQ72G2R82,41.56,39.49
61,ROLLS-ROYCE HOLDINGS PLC,1548627,213800EC7997ZBLZJH69,36.77,38.81
62,SCHRODERS PLC,162470,2138001YYBULX5SZ2H24,44.25,57.93
63,SEGRO PUBLIC LIMITED COMPANY,769052,213800XC35KGM9NFC641,35.18,19.06
64,SEVERN TRENT PLC,122294,213800RPBXRETY4A4C59,45.62,50.60
65,SMITH & NEPHEW PLC,1447521,213800ZTMDN8S67S1H61,34.07,34.88
66,SMITHS GROUP PLC,1407942,213800MJL6IPZS3ASA11,38.30,28.03
67,Smurfit Kappa Group Public Limited Company,1632051,635400CPLP8H5ITDVT56,35.17,32.66
68,SPIRAX-SARCO ENGINEERING PLC,1421561,213800WFVZQMHOZP2W17,31.63,27.43
69,SSE PLC,1329545,549300KI75VYLLMSK856,41.98,39.55
70,ST. JAMES'S PLACE PLC,777708,213800M993ICXOMBCP87,41.01,26.46
71,STANDARD CHARTERED PLC,1347498,U4LOSYZ7YG4W3S5F2G91,40.00,39.39
72,STANDARD LIFE ABERDEEN PLC,608211,0TMBS544NMO7GLCE7H90,41.40,50.15
73,TAYLOR WIMPEY PLC,1322707,21380089BTRXTD8S3R66,47.15,47.96
74,TESCO PLC,865788,2138002P5RNKC5W2JZ46,42.78,48.05
75,THE BERKELEY GROUP HOLDINGS PLC,1552650,2138009OQSSLVVHQAL78,33.61,28.26
76,THE SAGE GROUP PLC.,411590,2138005RN5XYLTF8G138,43.17,33.79
77,UNILEVER PLC,916465,549300MKFYEKVRWML317,45.04,47.38
78,UNITED UTILITIES GROUP PLC,363108,2138002IEYQAOC88ZJ59,33.73,42.97
79,WHITBREAD PLC,860565,21380099VMZKRMN3EX36,40.59,28.84
80,3I GROUP PLC,1826306,35GDVHRBMFE7NWATNM84,31.64,33.23
81,AVAST PLC,269800,213800IR8G8LCZH4BO27,34.25,31.16
82,FRESNILLO PLC,1089816,549300JXWH1UV5J0XV81,25.52,21.79
83,ITV PLC,1343395,ZLECI7ED2QMWFGYCXZ59,45.25,56.25
84,JD SPORTS FASHION PLC,759022,213800HROV6Y9MUU8375,46.35,42.98
85,MEGGITT PLC,1342231,YMFO3TKB4UAWQTDZJJ31,40.56,33.23
86,RIGHTMOVE PLC,1563933,2138001JXGCFKBXYB828,45.16,43.99
87,ROYAL DUTCH SHELL PLC,875744,21380068P1DRHMJ8KU70,47.28,50.62
88,VODAFONE GROUP PUBLIC LIMITED COMPANY,1418022,213800TB53ELEUKM7Q61,48.98,57.68
89,WM MORRISON SUPERMARKETS P L C,321879,213800IN6LSRGTZSOS29,28.81,23.88

We need to create another identifier property for this custom identifier.

In [11]:
# create identifier property for   unique IDs

def create_property_identifier(scope, code, display_name):
    try:
        property_definitions_api.create_property_definition(
            create_property_definition_request=lm.CreatePropertyDefinitionRequest(
                domain="LegalEntity",
                scope=dei_scopeA,
                code=code,
                value_required=None,
                display_name=display_name,
                data_type_id=lm.ResourceId(scope="system", code="string"),
                life_time="Perpetual",
                constraint_style="Identifier"
            )
        )
    except:
        print("Property already exists")

In [12]:
create_property_identifier(dei_scopeA, "Custom_ID", "Custom ID")

Property already exists

The standard LEI from this secondary data source is uploaded using the first identifer property we create so LUSID knows which legal entity is being modified.

In [13]:
# update legal entities with custom identfiers
def update_legal_entity(identifier_property, LEI, internal_ID_property, internal_ID, LE_name):

    legal_entity_request=lm.UpsertLegalEntityRequest(
        identifiers={
            f"LegalEntity/{id_scope}/{identifier_property}": lm.PerpetualProperty(
            key=f"LegalEntity/{id_scope}/{identifier_property}",
            value=lm.PropertyValue(
                label_value=LEI
                )
            ),
            f"LegalEntity/{dei_scopeA}/{internal_ID_property}": lm.PerpetualProperty(
            key=f"LegalEntity/{dei_scopeA}/{internal_ID_property}",
            value=lm.PropertyValue(
                label_value=internal_ID
                )
            ),   
        },
        display_name=LE_name,
        description=LE_name,
        counterparty_risk_information=None,
    )

    legal_entities_api.upsert_legal_entity(legal_entity_request)

In [14]:
dei_sourceA_LEs = []

for i in df_dei_sourceA["Legal Entity Identifier"].index:
    identifier_property="LEI"
    internal_ID_property="Custom_ID"
    dei_sourceA_LEI=df_dei_sourceA["Legal Entity Identifier"][i]
    dei_sourceA_LE_name=df_dei_sourceA["Name"][i]
    internal_ID=str(df_dei_sourceA["Custom Legal Entity Identifier "][i])
    
    LEI = update_legal_entity(identifier_property, dei_sourceA_LEI, internal_ID_property, internal_ID, dei_sourceA_LE_name)
    dei_sourceA_LEs.append(LEI)
    
print(len(dei_sourceA_LEs), "legal entities updated")

90 legal entities updated

In [15]:
# list legal entities with both identifiers
LE_list = legal_entities_api.list_legal_entities(
    id_type_scope=id_scope,
    id_type_code="LEI")

In [16]:
# create dict for renaming df columns

column_rename_mapping = {"display_name":"displayName",
                         "lusid_legal_entity_id":"lusidLegalEntityId",
                         f"identifiers.LegalEntity/{dei_scopeA}/Custom_ID.value.label_value":"customLegalEntityIdentifier",
                         f"identifiers.LegalEntity/{id_scope}/LEI.value.label_value":"legalEntityIdentifier",
                         f"identifiers.LegalEntity/{id_scope}/LEI.key":"legalEntityIdentifierKey",
                         f"identifiers.LegalEntity/{id_scope}/LEI.value.label_value":"legalEntityIdentifier",
                         f"identifiers.LegalEntity/{dei_scopeA}/Custom_ID.key":"customLegalEntityIdentifierKey",
                         f"identifiers.LegalEntity/{dei_scopeA}/Custom_ID.value.label_value":"customLegalEntityIdentifier",
                         f"properties.LegalEntity/{dei_scopeA}/GenderScore.key":"genderScoreKey",
                         f"properties.LegalEntity/{dei_scopeA}/GenderScore.value.metric_value.value":"genderScore",
                         f"properties.LegalEntity/{dei_scopeA}/TotalDEIScore.key":"totalDEIScoreKey",
                         f"properties.LegalEntity/{dei_scopeA}/TotalDEIScore.value.metric_value.value":"totalDEIScore",
                         f"properties.LegalEntity/{dei_scopeB}/RaceEthnicityScore.key":"raceEthnicityScoreKey",
                         f"properties.LegalEntity/{dei_scopeB}/RaceEthnicityScore.value.metric_value.value":"raceEthnicityScore",
                         "values.0.related_entity.display_name":"displayName",
                         "values.0.related_entity.identifiers.1.identifier_value":"instrumentIsin"
                        }

In [17]:
df_LE_list = lusid_response_to_data_frame(LE_list, 
                                          rename_properties=True, 
                                          column_name_mapping=column_rename_mapping)
df_LE_list[["displayName", 
            "description",
            "lusidLegalEntityId", 
            "customLegalEntityIdentifier",
            "legalEntityIdentifier"]].dropna().head()

,displayName,description,lusidLegalEntityId,customLegalEntityIdentifier,legalEntityIdentifier
11,BAE SYSTEMS PLC,BAE SYSTEMS PLC,LUID_0004LZO0,132942,8SVCSVKSGDWMW2QHOH83
12,PHOENIX GROUP HOLDINGS PLC,PHOENIX GROUP HOLDINGS PLC,LUID_0004LZO1,1567007,2138001P49OLAEU33T68
13,UNITED UTILITIES GROUP PLC,UNITED UTILITIES GROUP PLC,LUID_0004LZO2,363108,2138002IEYQAOC88ZJ59
14,SMITH & NEPHEW PLC,SMITH & NEPHEW PLC,LUID_0004LZO3,1447521,213800ZTMDN8S67S1H61
15,M&G PLC,M&G PLC,LUID_0004LZO4,399504,254900TWUJUQ44TQJY84

## Enhance Legal Entity Information

Now we can create other properties to enhance the legal entity infomation. In this case, we will be updating the legal entities with Diversity, Equity and Inclusion (DEI) data from source A.

In [18]:
# create properties for legal entities

def create_property(scope, dtype, code, display_name):
    try:
        property_definitions_api.create_property_definition(
            create_property_definition_request=lm.CreatePropertyDefinitionRequest(
                domain="LegalEntity",
                scope=scope,
                code=code,
                value_required=None,
                display_name=display_name,
                data_type_id=lm.ResourceId(scope="system", code=dtype),
                life_time="Perpetual",
            )
        )
    except:
        print("Property already exists")

In [19]:
create_property(dei_scopeA, "number", "TotalDEIScore", "Total DEI Score")
create_property(dei_scopeA, "number", "GenderScore", "Gender Score")

Property already exists
Property already exists

In [20]:
# adding properties for DEI data to existing legal entities

def enhance_legal_entity_sourceA(identifier_property, internal_ID_property, LEI, internal_ID, LE_name, TotalDEIScore, GenderScore):

    legal_entity_request= lm.UpsertLegalEntityRequest(
        identifiers={
            f"LegalEntity/{id_scope}/{identifier_property}": lm.PerpetualProperty(
            key=f"LegalEntity/{id_scope}/{identifier_property}",
            value=lm.PropertyValue(
                label_value=LEI
                )
            ), 
        },
        properties={
            f"LegalEntity/{dei_scopeA}/TotalDEIScore":
            lm.PerpetualProperty(
                key=f"LegalEntity/{dei_scopeA}/TotalDEIScore",
                value=lm.PropertyValue(
                    metric_value=lm.MetricValue(TotalDEIScore)
                )
            ),
            f"LegalEntity/{dei_scopeA}/GenderScore":
            lm.PerpetualProperty(
                key=f"LegalEntity/{dei_scopeA}/GenderScore",
                value=lm.PropertyValue(
                    metric_value=lm.MetricValue(GenderScore)
                )
            ),
        },
        display_name=LE_name,
        description=LE_name,
        counterparty_risk_information=None,
    )

    legal_entities_api.upsert_legal_entity(legal_entity_request)

In [21]:
enhanced_LEs = []

for i in df_dei_sourceA["Legal Entity Identifier"].index:
    identifier_property="LEI"
    internal_ID_property="Custom_ID"
    dei_source_LEI=df_dei_sourceA["Legal Entity Identifier"][i]
    dei_source_LE_name=df_dei_sourceA["Name"][i]
    internal_ID=str(df_dei_sourceA["Custom Legal Entity Identifier "][i])
    TotalDEIScore=df_dei_sourceA["Total DEI Score"][i]
    GenderScore=df_dei_sourceA["Total Gender Score"][i]
    
    enhance_LE = enhance_legal_entity_sourceA(identifier_property, internal_ID_property, dei_source_LEI, internal_ID, dei_source_LE_name, TotalDEIScore, GenderScore)
    enhanced_LEs.append(LEI)
    
print(len(enhanced_LEs), "legal entitites updated")

90 legal entitites updated

#### Uploading DEI data from a second source.

In [22]:
df_dei_sourceB = pd.read_csv("data/dei_data_sourceB.csv")
df_dei_sourceB.head()

,Name,Legal Entity Identifier,Total Race/Ethnicity Score
0,IMPERIAL BRANDS PLC,549300DFVPOB67JL3A42,5.55
1,PHOENIX GROUP HOLDINGS PLC,2138001P49OLAEU33T68,1.88
2,ADMIRAL GROUP PLC,213800FGVM7Z9EJB2685,17.70
3,ANGLO AMERICAN PLC,549300S9XF92D1X8ME43,21.08
4,ANTOFAGASTA PLC,213800MY6QVH4FVLD628,19.64

In [23]:
create_property(dei_scopeB, "number", "RaceEthnicityScore", "Race/Ethnicity Score")

Property already exists

In [24]:
# adding properties for DEI data to existing legal entities

def enhance_legal_entity_sourceB(identifier_property, LEI, LE_name, RaceEthnicityScore):

    legal_entity_request=lm.UpsertLegalEntityRequest(
        identifiers={
            f"LegalEntity/{id_scope}/{identifier_property}": 
            lm.PerpetualProperty(
                key=f"LegalEntity/{id_scope}/{identifier_property}",
                value=lm.PropertyValue(
                    label_value=LEI
                )
            ), 
        },
        properties={
            f"LegalEntity/{dei_scopeB}/RaceEthnicityScore":
            lm.PerpetualProperty(
                key=f"LegalEntity/{dei_scopeB}/RaceEthnicityScore",
                value=lm.PropertyValue(
                    metric_value=lm.MetricValue(RaceEthnicityScore)
                )
            ),
        },
        display_name=LE_name,
        description=LE_name,
        counterparty_risk_information=None,
    )

    legal_entities_api.upsert_legal_entity(legal_entity_request)

In [25]:
enhanced_LEs = []

for i in df_dei_sourceB["Legal Entity Identifier"].index:
    identifier_property="LEI"
    dei_sourceB_LEI=df_dei_sourceB["Legal Entity Identifier"][i]
    dei_sourceB_LE_name=df_dei_sourceB["Name"][i]
    RaceEthnicityScore=df_dei_sourceB["Total Race/Ethnicity Score"][i]
    
    enhance_LE = enhance_legal_entity_sourceB(identifier_property, dei_sourceB_LEI, dei_sourceB_LE_name, RaceEthnicityScore)
    enhanced_LEs.append(LEI)
    
print(len(enhanced_LEs), "legal entitites updated")

90 legal entitites updated

## Create Instrument-Legal Entity Relationships

#### Loading DataFrame with ISINs for UK equities and corresponding LEIs
One legal entity can have multiple instruments linked to it in LUSID via instrument identifers. However, in this sample data set, each LEI is linked to only one instrument using the instrument ISIN.

In [26]:
df_inst_ISINs = pd.read_csv("data/Instrument_ISINs.csv")
df_inst_ISINs.head()

  ClientInternal                 Name          ISIN                   LEI
0    Instrument1       BAE Systems Rg  GB0002634946  8SVCSVKSGDWMW2QHOH83
1    Instrument2       Phoenix Grp Rg  GB00BGXQNP29  2138001P49OLAEU33T68
2    Instrument3               WPP Rg  JE00B8KF9B49  549300LSGBXPYHXGDT93
3    Instrument4  United Utilities Rg  GB00B39J2M42  2138002IEYQAOC88ZJ59
4    Instrument5    Smith & Nephew Rg  GB0009223206  213800ZTMDN8S67S1H61

#### Upserting instruments 
Now we need to create instruments with these ISINs in LUSID to be able to create a relationship with their legal entity.

In [27]:
# instrument field mapping

inst_mapping = {
    "instruments": {
        "identifier_mapping": {"ClientInternal": "ClientInternal", "Isin": "ISIN"},
        "required": {
                        "name": "Name", 
                        "definition.dom_ccy":"$GBP",
                        "definition.asset_class":"$Equities",
                        "definition.instrument_type": "$Equity",
                    },
    },
}

In [28]:
df_inst_unique=df_inst_ISINs[["ISIN",
                            "ClientInternal",
                            "Name",
                             ]].drop_duplicates()
df_inst_unique.head()

           ISIN ClientInternal                 Name
0  GB0002634946    Instrument1       BAE Systems Rg
1  GB00BGXQNP29    Instrument2       Phoenix Grp Rg
2  JE00B8KF9B49    Instrument3               WPP Rg
3  GB00B39J2M42    Instrument4  United Utilities Rg
4  GB0009223206    Instrument5    Smith & Nephew Rg

In [29]:
result=lpt.cocoon.load_from_data_frame(
    api_factory=api_factory,
    scope=id_scope,
    data_frame=df_inst_unique,
    mapping_required=inst_mapping["instruments"]["required"],
    mapping_optional={},
    file_type="instrument",
    identifier_mapping=inst_mapping["instruments"]["identifier_mapping"],
    instrument_scope=id_scope
)

succ, failed, errors=format_instruments_response(result)
print(f"number of successful upserts: {len(succ)}")
print(f"number of failed upserts    : {len(failed)}")
print(f"number of errors            : {len(errors)}")

number of successful upserts: 101
number of failed upserts    : 0
number of errors            : 0

### Create relationship between legal entity and instrument

LUSID only accepts unique identifiers when creating relationships. Since ISIN is not a unique identifier, we need a resolver to return the instrument LUID for a given ISIN. Note that this resolver will only work if there is only one instrument with the ISIN in the defined scope.

In [30]:
# creating resolver to get unique ID for instrument 

def resolver(scope, inst_type, inst_id):
    
    # get the list of LUIDS associated with the instrument
    def no_of_insts(scope, inst_type, inst_id):
        insts_search=search_api.instruments_search(
                                            scope=scope, 
                                            mastered_only=True,
                                            instrument_search_property=[
                                            lm.InstrumentSearchProperty(
                                                key=f"Instrument/default/{inst_type}",
                                                value=inst_id,
                                            )
        ])
        return(insts_search)
    insts_search = no_of_insts(scope, inst_type, inst_id)
    no_insts = len(insts_search[0].mastered_instruments)
    
    if no_insts == 1:
        InstrumentId = insts_search[0].mastered_instruments[0].identifiers["LusidInstrumentId"].value
        
    else:
        InstrumentId=inst_id
        
    return(InstrumentId)

We can test this resolver to show that it brings back the LUID where only one instrument with the given ISIN is found in the instrument scope.

In [31]:
# test for resolver 
resolver(id_scope, "Isin", "GB0002634946")

'LUID_0004CSZ7'

In [32]:
# define legal entity-instrument relationship

def create_relationship_definition(code, display_name, outward_description, inward_description):
    try:
        relationship_definitions_api.create_relationship_definition(
            create_relationship_definition_request=lu.CreateRelationshipDefinitionRequest(
                scope=id_scope,
                code=code,
                source_entity_type="LegalEntity", 
                target_entity_type="Instrument", 
                display_name=display_name, 
                outward_description=outward_description, 
                inward_description=inward_description, 
                life_time="TimeVariant"
            )
        )
        print(f"created relation {id_scope}/{code}")
    except lu.ApiException as e:
        body = json.loads(e.body)
        if body["code"] != 667:  # RelationDefinitionAlreadyExists
            print(body)
        else:
            print(f"relation {id_scope}/{code} already exists")

In [33]:
create_relationship_definition("legalEntity", "Legal Entity-Instrument Relationship", "Issuer of", "Issued by")

relation legalEntityRelationships/legalEntity already exists

In [34]:
# create relationship

def create_instrument_relationship(code, id_code, id_value, scope, inst_type, inst_id):
    relationships_api.create_relationship(
        
        # the scope/code of the RelationDefinition to be created
        scope=id_scope,
        code=code,
        
        create_relationship_request=lm.CreateRelationshipRequest(
            source_entity_id={
                # the fields the uniquely identify the source entity
                "idTypeScope": id_scope,
                "idTypeCode": id_code,
                "code": id_value
            }, 
            target_entity_id={
                # the fields the uniquely identify the target entity
                "scope": scope,
                "identifierScope": "default",
                "identifierType": "LusidInstrumentId",
                "identifierValue": resolver(scope, inst_type, inst_id)
            },
            effective_from = "2022-01-01T00:00:00+00:00"
            ),
    )

In [35]:
for i in range(len(df_inst_ISINs["ISIN"])):
    create_instrument_relationship("legalEntity", 
                                   "LEI", 
                                   df_inst_ISINs["LEI"][i], 
                                   id_scope, 
                                   "Isin", 
                                   df_inst_ISINs["ISIN"][i])
    
print(f"Created {len(df_inst_ISINs['ISIN'])} relationships between legal entities and instruments.")

Created 101 relationships between legal entities and instruments.

### Return legal entitiy information for a given ISIN using relationships
Now that we have relationships connecting our instruments to their legal entities, we can query the properties on a legal entity using an instrument identifier.

In [36]:
# get Legal Entity properties via instrument ISIN

index_no = 0
df_inst_LE_rela = pd.DataFrame()

for i in df_inst_unique.index:
    
    inst_LE_rela2 = instruments_api.get_instruments(identifier_type='LusidInstrumentId',
                                                 request_body=[resolver(id_scope, 'Isin',df_inst_unique['ISIN'][i]),
                                                              ],
                                                 scope=id_scope,
                                                 relationship_definition_ids=[f"{id_scope}/legalEntity"],
                                                 property_keys=[f"LegalEntity/{id_scope}/LEI",
                                                                f"LegalEntity/{dei_scopeA}/TotalDEIScore",
                                                                f"LegalEntity/{dei_scopeB}/RaceEthnicityScore"
                                                               ],
                                                )
    df_inst_LE_rela2 = lusid_response_to_data_frame(inst_LE_rela2,rename_properties=True,column_name_mapping=column_rename_mapping)
    df_inst_LE_rela2 = df_inst_LE_rela2.transpose()
    luid = resolver(id_scope, 'Isin', df_inst_unique['ISIN'][i])
    df_inst_LE_rela2['index_no'] = [f'{index_no}']
    index_no+=1
    
    df_inst_LE_rela2.rename(columns={f'values.{luid}.scope':'scope',
                                     f'values.{luid}.lusid_instrument_id':'lusid_instrument_id',
                                     f'values.{luid}.identifiers.Isin':'instrumentIsin',
                                     f'values.{luid}.relationships.0.related_entity.display_name':'instrumentDisplayName',
                                     f'values.{luid}.relationships.0.related_entity.properties.LegalEntity/deiDataSourceB/RaceEthnicityScore.value.metric_value.value':'raceEthnicityScore',
                                     f'values.{luid}.relationships.0.related_entity.properties.LegalEntity/deiDataSourceA/TotalDEIScore.value.metric_value.value':'totalDEIScore'                               
                                    },inplace=True)
    df_inst_LE_rela = pd.concat([df_inst_LE_rela,df_inst_LE_rela2])

    df_inst_LE_rela.set_index(df_inst_LE_rela['index_no'],inplace=True)
    

df_inst_LE_rela[['instrumentDisplayName',
                 'instrumentIsin',
                 'totalDEIScore',
                 'raceEthnicityScore',
                ]].dropna()

,instrumentDisplayName,instrumentIsin,totalDEIScore,raceEthnicityScore
index_no,,,,
0,BAE SYSTEMS PLC,GB0002634946,39.03,18.92
1,PHOENIX GROUP HOLDINGS PLC,GB00BGXQNP29,33.2,1.88
3,UNITED UTILITIES GROUP PLC,GB00B39J2M42,33.73,18.69
4,SMITH & NEPHEW PLC,GB0009223206,34.07,20.16
5,M&G PLC,GB00BKFB1C65,44.09,17.69
6,DS SMITH PLC,GB0008220112,24.18,16.8
7,AVIVA PLC,GB0002162385,41.63,17.97
8,HALMA PUBLIC LIMITED COMPANY,GB0004052071,48.77,18.47
10,INTERMEDIATE CAPITAL GROUP PLC,GB00BYT1DJ19,33.64,18.46
11,Flutter Entertainment Public Limited Company,IE00BWT6H894,33.04,18.46
12,TESCO PLC,GB00BLGZ9862,42.78,22.81
13,BP PLC,GB0007980591,46.96,32.74
14,ANGLO AMERICAN PLC,GB00B1XZS820,42.74,21.08
15,BURBERRY GROUP PLC,GB0031743007,47.6,18.46
16,BARCLAYS PLC,GB0031348658,42.01,26.72
17,3I GROUP PLC,GB00B1YW4409,31.64,1.88
18,SEGRO PUBLIC LIMITED COMPANY,GB00B5ZN1N88,35.18,19.39
19,STANDARD CHARTERED PLC,GB0004082847,40.0,18.81
20,ENTAIN PLC,IM00B5VQMV65,38.27,1.88
21,STANDARD LIFE ABERDEEN PLC,GB00BF8Q6K64,41.4,17.56
22,ANTOFAGASTA PLC,GB0000456144,31.46,19.64
23,ROYAL DUTCH SHELL PLC,GB00B03MM408,47.28,18.46
25,WHITBREAD PLC,GB00B1KJJ408,40.59,18.71
26,SEVERN TRENT PLC,GB00B1FH8J72,45.62,17.56
27,RENTOKIL INITIAL PLC,GB00B082RF11,33.14,17.56
28,Prudential Public Limited Company,GB0007099541,28.38,19.21
29,LONDON STOCK EXCHANGE GROUP PLC,GB00B0SWJX34,42.95,33.32
30,ROLLS-ROYCE HOLDINGS PLC,GB00B63H8491,36.77,18.46
31,INTERTEK GROUP PLC,GB0031638363,29.41,18.46
32,ITV PLC,GB0033986497,45.25,39.38
33,RELX PLC,GB00B2B0DG97,37.34,1.88
34,MEGGITT PLC,GB0005758098,40.56,18.46
35,BHP GROUP PLC,GB00BH0P3Z91,41.53,1.88
36,DCC PUBLIC LIMITED COMPANY,IE0002424939,31.5,1.88
38,SMITHS GROUP PLC,GB00B1WY2338,38.3,17.56
39,ASSOCIATED BRITISH FOODS PLC,GB0006731235,30.31,19.03
40,ASHTEAD GROUP PUBLIC LIMITED COMPANY,GB0000536739,31.94,18.46
41,JOHNSON MATTHEY PLC,GB00BZ4BQC70,37.45,18.46
42,SSE PLC,GB0007908733,41.98,17.56
43,BUNZL PUBLIC LIMITED COMPANY,GB00B0744B38,43.06,18.46
44,BARRATT DEVELOPMENTS P L C,GB0000811801,37.44,17.71
45,THE BERKELEY GROUP HOLDINGS PLC,GB00BLJNXL82,33.61,18.92
46,INTERCONTINENTAL HOTELS GROUP PLC,GB00BHJYC057,41.7,19.2
47,ASTRAZENECA PLC,GB0009895292,49.11,20.53
48,ST. JAMES'S PLACE PLC,GB0007669376,41.01,17.69
49,ADMIRAL GROUP PLC,GB00B02J6398,43.23,17.7
50,MELROSE INDUSTRIES PLC,GB00BNR5MZ78,34.97,19.58
51,GLAXOSMITHKLINE PLC,GB0009252882,44.15,26.18
52,NATIONAL GRID PLC,GB00BDR05C01,42.23,18.07
53,HARGREAVES LANSDOWN PLC,GB00B1VZ0M25,26.4,18.26
54,IMPERIAL BRANDS PLC,GB0004544929,40.62,5.55
55,JD SPORTS FASHION PLC,GB00BYX91H57,46.35,16.8
56,BRITISH AMERICAN TOBACCO P.L.C.,GB0002875804,39.07,20.94
57,LLOYDS BANKING GROUP PLC,GB0008706128,35.65,32.74
58,J SAINSBURY PLC,GB00B019KW72,37.08,23.94
60,CRODA INTERNATIONAL PUBLIC LIMITED COMPANY,GB00BJFFLV09,38.66,17.56
61,AUTO TRADER GROUP PLC,GB00BVYVFW23,43.83,18.46
62,NEXT PLC,GB0032089863,41.03,17.56
64,AVAST PLC,GB00BDD85M81,34.25,18.46
65,LAND SECURITIES GROUP PLC,GB00BYW0PQ60,45.16,16.8
66,RIGHTMOVE PLC,GB00BGDT3G23,45.16,18.76
67,AVEVA GROUP PLC,GB00BBG9VN75,40.11,18.81
68,UNILEVER PLC,GB00B10RZP78,45.04,20.46
69,HIKMA PHARMACEUTICALS PUBLIC LIMITED COMPANY,GB00B0LCW083,37.28,18.46
70,COMPASS GROUP PLC,GB00BD6K4575,41.24,18.15
71,PEARSON PLC,GB0006776081,50.13,32.76
72,INFORMA PLC,GB00BMJ6DW54,41.99,17.56
73,KINGFISHER PLC,GB0033195214,30.99,17.69
74,ROYAL DUTCH SHELL PLC,GB00B03MLX29,47.28,18.46
75,NATWEST GROUP PLC,GB00B7T77214,40.35,16.8
76,SPIRAX-SARCO ENGINEERING PLC,GB00BWFGQN14,31.63,18.69
77,Coca-Cola HBC AG,CH0198251305,34.57,18.92
78,CRH PUBLIC LIMITED COMPANY,IE0001827041,32.64,10.35
79,PERSIMMON PUBLIC LIMITED COMPANY,GB0006825383,25.03,16.8
80,THE SAGE GROUP PLC.,GB00B8C3BL03,43.17,17.56
81,Smurfit Kappa Group Public Limited Company,IE00B1RR8406,35.17,1.88
82,VODAFONE GROUP PUBLIC LIMITED COMPANY,GB00BH4HKS39,48.98,18.46
83,BRITISH LAND COMPANY PUBLIC LIMITED COMPANY(THE),GB0001367019,37.63,16.8
84,LEGAL & GENERAL GROUP PLC,GB0005603997,38.83,17.71
88,DIAGEO PLC,GB0002374006,39.77,19.26
89,HSBC HOLDINGS PLC,GB0005405286,29.06,1.88
91,OCADO GROUP PLC,GB00B3MBS747,31.46,17.56
92,EVRAZ PLC,GB00B71N6K86,35.16,18.46
93,FRESNILLO PLC,GB00B2QPKJ12,25.52,18.46
94,Rio Tinto Group,GB0007188757,41.56,17.56
95,MONDI PLC,GB00B1CRLC47,41.42,1.88
96,SCHRODERS PLC,GB0002405495,44.25,18.46
97,RECKITT BENCKISER GROUP PLC,GB00B24CGK77,34.52,19.94
98,BT GROUP PLC,GB0030913577,38.41,24.7
99,WM MORRISON SUPERMARKETS P L C,GB0006043169,28.81,16.8
100,TAYLOR WIMPEY PLC,GB0008782301,47.15,17.56

## Filter an instrument universe based on LE DEI data

Now that we have instruments linked to legal entities, we can create a universe of instruments based on the diversity data attached to their corresponding legal entities.

In [37]:
# listing all legal entities in scope that meet DEI criteria

LEs=legal_entities_api.list_legal_entities(id_type_scope=id_scope,
                                             id_type_code="LEI",
                                             property_keys=[f"LegalEntity/{dei_scopeA}/TotalDEIScore",
                                                           f"LegalEntity/{dei_scopeB}/RaceEthnicityScore"],
                                             
                                             # filter by best DEI scores
                                             filter=f"properties[LegalEntity/{dei_scopeA}/TotalDEIScore] gt 45 and properties[LegalEntity/{dei_scopeB}/RaceEthnicityScore] gt 17",
                                             limit=110)

df_LEs = lusid_response_to_data_frame(LEs, column_name_mapping=column_rename_mapping)
df_filtered_LEs = df_LEs[["displayName",
                          "lusidLegalEntityId",
                          "customLegalEntityIdentifier",
                          "legalEntityIdentifier",
                          "totalDEIScore",
                          "raceEthnicityScore"
                         ]]
df_filtered_LEs

,displayName,lusidLegalEntityId,customLegalEntityIdentifier,legalEntityIdentifier,totalDEIScore,raceEthnicityScore
0,HALMA PUBLIC LIMITED COMPANY,LUID_0004LZO7,628845,2138007FRGLUR9KGBT40,48.77,18.47
1,BP PLC,LUID_0004LZOB,1015609,213800LH1BZH3DI6G760,46.96,32.74
2,BURBERRY GROUP PLC,LUID_0004LZOD,1234613,213800PE1KEFCNFR1R50,47.60,18.46
3,ROYAL DUTCH SHELL PLC,LUID_0004LZOL,875744,21380068P1DRHMJ8KU70,47.28,18.46
4,SEVERN TRENT PLC,LUID_0004LZON,122294,213800RPBXRETY4A4C59,45.62,17.56
5,ITV PLC,LUID_0004LZOT,1343395,ZLECI7ED2QMWFGYCXZ59,45.25,39.38
6,ASTRAZENECA PLC,LUID_0004LZP7,1329415,PY6ZZQWO2IZFZC3IOL08,49.11,20.53
7,RIGHTMOVE PLC,LUID_0004LZPO,1563933,2138001JXGCFKBXYB828,45.16,18.76
8,UNILEVER PLC,LUID_0004LZPQ,916465,549300MKFYEKVRWML317,45.04,20.46
9,PEARSON PLC,LUID_0004LZPT,1089313,2138004JBXWWJKIURC57,50.13,32.76
10,VODAFONE GROUP PUBLIC LIMITED COMPANY,LUID_0004LZQ3,1418022,213800TB53ELEUKM7Q61,48.98,18.46
11,TAYLOR WIMPEY PLC,LUID_0004LZQH,1322707,21380089BTRXTD8S3R66,47.15,17.56

In [38]:
# getting instruments related to filtered legal entity list

relationships = []
LEIs = []

for i in df_filtered_LEs.index:
    inst_relationship = legal_entities_api.get_legal_entity_relationships(id_type_scope=id_scope,
                                                  id_type_code="LEI",
                                                  code= df_filtered_LEs["legalEntityIdentifier"][i])
    relationships.append(inst_relationship)
    LEIs.append(df_filtered_LEs["legalEntityIdentifier"][i])

In [39]:
# add the legal entity identifiers to the DataFrame
df_relationships = lusid_response_to_data_frame(relationships, 
                                                rename_properties=True,
                                                column_name_mapping=column_rename_mapping)

df_relationships["legalEntityIdentifier"]=LEIs
df_relationships.head()

,values.0.relationship_definition_id.scope,values.0.relationship_definition_id.code,values.0.related_entity.entity_type,values.0.related_entity.entity_id.identifierScope,values.0.related_entity.entity_id.identifierType,values.0.related_entity.entity_id.identifierValue,values.0.related_entity.entity_id.scope,displayName,values.0.related_entity.properties,values.0.related_entity.scope,values.0.related_entity.lusid_unique_id.type,values.0.related_entity.lusid_unique_id.value,values.0.related_entity.identifiers.0.identifier_scope,values.0.related_entity.identifiers.0.identifier_type,values.0.related_entity.identifiers.0.identifier_value,values.0.related_entity.identifiers.1.identifier_scope,values.0.related_entity.identifiers.1.identifier_type,instrumentIsin,values.0.related_entity.href,values.0.traversal_direction,values.0.traversal_description,values.0.effective_from,values.0.effective_until,href,links.0.relation,links.0.href,links.0.description,links.0.method,values.1.relationship_definition_id.scope,values.1.relationship_definition_id.code,values.1.related_entity.entity_type,values.1.related_entity.entity_id.identifierScope,values.1.related_entity.entity_id.identifierType,values.1.related_entity.entity_id.identifierValue,values.1.related_entity.entity_id.scope,values.1.related_entity.display_name,values.1.related_entity.properties,values.1.related_entity.scope,values.1.related_entity.lusid_unique_id.type,values.1.related_entity.lusid_unique_id.value,values.1.related_entity.identifiers.0.identifier_scope,values.1.related_entity.identifiers.0.identifier_type,values.1.related_entity.identifiers.0.identifier_value,values.1.related_entity.identifiers.1.identifier_scope,values.1.related_entity.identifiers.1.identifier_type,values.1.related_entity.identifiers.1.identifier_value,values.1.related_entity.href,values.1.traversal_direction,values.1.traversal_description,values.1.effective_from,values.1.effective_until,legalEntityIdentifier
0,legalEntityRelationships,legalEntity,Instrument,default,ClientInternal,Instrument9,legalEntityRelationships,Halma Rg,{},legalEntityRelationships,LusidInstrumentId,LUID_0004CSYH,default,ClientInternal,Instrument9,default,Isin,GB0004052071,https://fbn-ci.lusid.com/api/api/instruments/C...,Out,Issuer of of,2022-01-01 00:00:00+00:00,9999-12-31 23:59:59.999999+00:00,https://fbn-ci.lusid.com/api/api/legalentities...,RequestLogs,http://fbn-ci.lusid.com/app/insights/logs/0HMP...,A link to the LUSID Insights website showing a...,GET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2138007FRGLUR9KGBT40
1,legalEntityRelationships,legalEntity,Instrument,default,ClientInternal,Instrument14,legalEntityRelationships,BP Rg,{},legalEntityRelationships,LusidInstrumentId,LUID_0004CSYO,default,ClientInternal,Instrument14,default,Isin,GB0007980591,https://fbn-ci.lusid.com/api/api/instruments/C...,Out,Issuer of of,2022-01-01 00:00:00+00:00,9999-12-31 23:59:59.999999+00:00,https://fbn-ci.lusid.com/api/api/legalentities...,RequestLogs,http://fbn-ci.lusid.com/app/insights/logs/0HMP...,A link to the LUSID Insights website showing a...,GET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,213800LH1BZH3DI6G760
2,legalEntityRelationships,legalEntity,Instrument,default,ClientInternal,Instrument16,legalEntityRelationships,Burberry Group Rg,{},legalEntityRelationships,LusidInstrumentId,LUID_0004CT0F,default,ClientInternal,Instrument16,default,Isin,GB0031743007,https://fbn-ci.lusid.com/api/api/instruments/C...,Out,Issuer of of,2022-01-01 00:00:00+00:00,9999-12-31 23:59:59.999999+00:00,https://fbn-ci.lusid.com/api/api/legalentities...,RequestLogs,http://fbn-ci.lusid.com/app/insights/logs/0HMP...,A link to the LUSID Insights website showing a...,GET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,213800PE1KEFCNFR1R50
3,legalEntityRelationships,legalEntity,Instrument,default,ClientInternal,Instrument24,legalEntityRelationships,Royal Dutch Shell-B,{},legalEntityRelationships,LusidInstrumentId,LUID_0004CSYE,default,ClientInternal,Instrument24,default,Isin,GB00B03MM408,https://fbn-ci.lusid.com/api/api/instruments/C...,Out,Issuer of of,2022-01-01 00:00:00+00:00,9999-12-31 23:59:59.999999+00:00,https://fbn-ci.lusid.com/api/api/legalentities...,RequestLogs,http://fbn-ci.lusid.com/app/insights/logs/0HMP...,A link to the LUSID Insights website showing a...,GET,legalEntityRelationships,legalEntity,Instrument,default,ClientInternal,Instrument76,legalEntityRelationships,Royal Dutch Shell-A,{},legalEntityRelationships,LusidInstrumentId,LUID_0004CSYR,default,ClientInternal,Instrument76,default,Isin,GB00B03MLX29,https://fbn-ci.lusid.com/api/api/instruments/C...,Out,Issuer of of,2022-01-01 00:00:00+00:00,9999-12-31 23:59:59.999999+00:00,21380068P1DRHMJ8KU70
4,legalEntityRelationships,legalEntity,Instrument,default,ClientInternal,Instrument27,legalEntityRelationships,Severn Trent Rg,{},legalEntityRelationships,LusidInstrumentId,LUID_0004CSYX,default,ClientInternal,Instrument27,default,Isin,GB00B1FH8J72,https://fbn-ci.lusid.com/api/api/instruments/C...,Out,Issuer of of,2022-01-01 00:00:00+00:00,9999-12-31 23:59:59.999999+00:00,https://fbn-ci.lusid.com/api/api/legalentities...,RequestLogs,http://fbn-ci.lusid.com/app/insights/logs/0HMP...,A link to the LUSID Insights website showing a...,GET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,213800RPBXRETY4A4C59

In [40]:
# filter to ensure only LE-instrument relationships
df_inst_relationships = df_relationships[df_relationships["values.0.related_entity.entity_type"] == "Instrument"]
df_inst_relationships.rename(columns = {"displayName":"instrumentDisplayName"}, inplace=True)
df_inst_relationships = df_inst_relationships[["instrumentDisplayName",
                                               "instrumentIsin",
                                               "legalEntityIdentifier"]]
df_inst_relationships.head()

  instrumentDisplayName instrumentIsin legalEntityIdentifier
0              Halma Rg   GB0004052071  2138007FRGLUR9KGBT40
1                 BP Rg   GB0007980591  213800LH1BZH3DI6G760
2     Burberry Group Rg   GB0031743007  213800PE1KEFCNFR1R50
3   Royal Dutch Shell-B   GB00B03MM408  21380068P1DRHMJ8KU70
4       Severn Trent Rg   GB00B1FH8J72  213800RPBXRETY4A4C59

Now we can merge DataFrames so you can see the universe of ISINs meeting the DEI score criteria along with the LEI of their legal entity and the Total DEI Score.

In [41]:
merged_df = df_inst_relationships.merge(df_filtered_LEs, left_on="legalEntityIdentifier", right_on="legalEntityIdentifier")
filtered_universe = pd.DataFrame(merged_df[["instrumentDisplayName",
                                            "instrumentIsin",
                                            "legalEntityIdentifier",
                                            "totalDEIScore",
                                            "raceEthnicityScore"]])
filtered_universe

,instrumentDisplayName,instrumentIsin,legalEntityIdentifier,totalDEIScore,raceEthnicityScore
0,Halma Rg,GB0004052071,2138007FRGLUR9KGBT40,48.77,18.47
1,BP Rg,GB0007980591,213800LH1BZH3DI6G760,46.96,32.74
2,Burberry Group Rg,GB0031743007,213800PE1KEFCNFR1R50,47.60,18.46
3,Royal Dutch Shell-B,GB00B03MM408,21380068P1DRHMJ8KU70,47.28,18.46
4,Severn Trent Rg,GB00B1FH8J72,213800RPBXRETY4A4C59,45.62,17.56
5,ITV Rg,GB0033986497,ZLECI7ED2QMWFGYCXZ59,45.25,39.38
6,AstraZeneca Rg,GB0009895292,PY6ZZQWO2IZFZC3IOL08,49.11,20.53
7,Rightmove Rg,GB00BGDT3G23,2138001JXGCFKBXYB828,45.16,18.76
8,Unilever Rg,GB00B10RZP78,549300MKFYEKVRWML317,45.04,20.46
9,Pearson Rg,GB0006776081,2138004JBXWWJKIURC57,50.13,32.76
10,Vodafone Group Rg,GB00BH4HKS39,213800TB53ELEUKM7Q61,48.98,18.46
11,Taylor Wimpey Rg,GB0008782301,21380089BTRXTD8S3R66,47.15,17.56